@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v42/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5aPdu2ui.woff2) format('woff2');
    unicode-range: U +0460 -052F, U +1C80 -1C8A, U +20B4, U +2DE0 -2DFF, U + A640-A69F, U + FE2E-FE2F;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #f8f9fc;

  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

#hello-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

#hello-container > h1 {
  font-size: 5vh;
}

#main-part {
  width: min(90%, 1000px);
  display: flex;
  flex-direction: column;

  gap: 1vh;
}

#quiz-container {
  background-color: #f8f9fc;
  border-radius: 10px;
  height: max-content;
  padding: 15px;

  /* display: flex;
  flex-wrap: wrap;
  gap: 2vw; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2vw;
  box-sizing: border-box;
}

.quiz-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* flex-grow: 0 0 1.5; */
  border: 1px solid rgba(0, 0, 0, .125);

  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
  box-sizing: border-box;
  overflow: hidden;

  cursor: default;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.quiz-panel > * {
  padding-left: 15px;
}

.quiz-subject {
  background-color: #efe3c9;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}


span {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: .85rem;
  line-height: 1.5;
  color: #858796;
  text-align: left;
}

.quiz-info {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.other-info {
  margin-top: .5rem !important;
}

.other-info span {
  font-size: smaller;
  color: #6c757d !important;
}

.quiz-title {
  font-weight: bolder !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.inner {
  align-self: center !important;
  align-items: center !important;
  display: flex !important;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  flex-grow: 1;
  max-width: 83.333333%;
}

.score-inner {
  border-radius: 10px;
  padding: 3px;
  text-align: center !important;
  background-color: #fff !important;

  flex: 0.4;
}

.score-inner > span {
  font-size: large;
  font-weight: 700 !important;
}

.hidden {
  display: none !important;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

#error {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}